apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: windows-app-pvc
  namespace: apps
  labels:
    storage: hostpath-demo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
