apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: windows-app-pvc-longhorn
  namespace: apps
  labels:
    storage: longhorn-demo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
